.email_steps {
  margin-top: 20px;
}

.info_delivery p {
  font-size: 1rem;
}

.links {
  display: flex;
  flex-direction: column;
  margin: 15px auto;
}

.links a {
  margin-top: 15px;
}

.delivery,
.next_steps {
  width: 100%;
  text-align: left;
  font-size: 1rem;
  padding: 15px;
  background-color: #fff;
}

ul.helper_msg {
  display: flex;
  flex-direction: column;
}

.helper_msg li {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.helper_msg p {
  margin: 0;
}

.helper_msg button {
  color: #0b2545;
  margin-left: 10px;
  font-weight: 700;
}

.helper_msg p {
  font-size: 0.8rem;
}

.newEmail {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.toggle_email {
  transform: translateY(-100%);
  transition: all 0.25s ease;
}

.newEmail input {
  color: #fff;
  width: 80%;
  padding: 10px;
  background-color: rgb(170, 161, 161);
}

@media (min-width: 760px) {
  .delivery,
  .next_steps {
    font-size: 1.5rem;
    padding: 30px 50px;
  }

  .newEmail {
    position: absolute;
    bottom: 10%;
    right: 0;
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }

  .toggle_email {
    transform: translateX(100%);
    transition: all 0.25s ease;
  }
}
