.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: translate(-25%, 100%);
  background-color: rgba(0, 0, 0, 0);
  transition: transform 0s 0.2s, background-color 0.4s 0s;
  z-index: 1200;
  display: flex;
  justify-content: center;
}

.modal.toggle_modal {
  transform: translateY(0);
  background-color: rgba(0, 0, 0, 0.7);
  transition: transform 0s, background-color 0.6s 0.1s;
}

.info_box {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto 40px;
}

.info_title {
  width: 100%;
  text-align: left;
  font-size: 1.4rem;
  height: 120px;
  background-color: #05668d;
  color: #fff;
  padding: 30px 50px;
}

.info_title h1 {
  height: 100px;
}

.info_delivery h3 {
  width: 80%;
  margin: 10px auto;
}

.info_delivery {
  width: 90%;
  margin: 0 auto;
  background-color: rgb(243, 239, 239);
  padding: 10px 30px;
}

.next_steps_box {
  display: flex;
  flex-direction: column;
  border: 2px solid #05668d;
  padding: 10px;
}

.next_steps_box p {
  font-size: 1rem;
  margin: 15px auto;
}

.email_steps {
  margin-top: 20px;
}

.info_delivery p {
  font-size: 1rem;
}

.links {
  display: flex;
  flex-direction: column;
  margin: 15px auto;
}

.links a {
  margin-top: 15px;
}

.delivery,
.next_steps {
  width: 100%;
  text-align: left;
  font-size: 1rem;
  padding: 15px;
  background-color: #fff;
}

ul.helper_msg {
  display: flex;
  flex-direction: column;
}

.helper_msg li {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.helper_msg p {
  margin: 0;
}

.helper_msg button {
  color: #0b2545;
  margin-left: 10px;
  font-weight: 700;
}

.helper_msg p {
  font-size: 0.8rem;
}

.newEmail {
  position: absolute;
  bottom: 10%;
  left: 0;
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.newEmail input {
  color: #fff;
  width: 80%;
  padding: 10px;
  background-color: rgb(170, 161, 161);
}

.toggle_email {
  transform: translateX(0);
  transition: all 0.25s ease;
}

@media (min-width: 760px) {
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateY(-100%);
    background-color: rgba(0, 0, 0, 0);
    transition: transform 0s 0.2s, background-color 0.4s 0s;
    z-index: 1200;
    display: flex;
    justify-content: center;
  }
  .info_title {
    font-size: 2.5rem;
    height: 200px;
  }

  .info_box {
    width: 70%;
    margin: 100px auto;
  }

  .info_title h1 {
    height: 150px;
  }

  .modal.toggle_modal {
    transform: translateY(0);
    background-color: rgba(0, 0, 0, 0.7);
    transition: transform 0s, background-color 0.6s 0.1s;
  }

  .delivery,
  .next_steps {
    font-size: 1.5rem;
    padding: 30px 50px;
  }

  .newEmail {
    left: 0;
    width: 50%;
  }
}
