.login_wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}

.login_form {
  height: 100%;
  padding: 0 20px;
}
.logo {
  margin-top: 10px;
  height: auto;
  max-width: 100px;
}

.action_call {
  text-align: left;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 10px;
}

.action_call h1 {
  font-size: 1.7rem;
  margin-bottom: 10px;
  font-weight: 900;
}

.action_call p {
  margin: 10px 40px;

  font-size: 0.7rem;
}

.action_call h3 {
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
}

#login_img {
  display: none;
}

.email_input {
  margin: 30px auto;
  background-color: rgb(170, 161, 161);
  padding: 10px;
  color: white;
  width: 80%;
}

.account_btn {
  padding: 10px;
  background-color: #05668d;
  color: #fff;
  font-weight: 700;
  align-self: flex-start;
  margin: 0px 40px;
}

.errorMessage {
  position: fixed;
  bottom: 0;
  min-width: 250px;
  border: 2px solid #e00004;
  background-color: #f15152;
  color: #fff;
  font-weight: 600;
  transform: translate(-50%, 100%);
  padding: 20px;
  border-radius: 16px;
  left: 0;
}

.toggle_error {
  transform: translate(25%, -100%);
  transition: all 0.25s ease;
}

/* Media queries */
@media (min-width: 760px) {
  .login_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .action_call h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-weight: 900;
  }
  .action_call h3 {
    font-size: 1.4rem;
  }
  .image {
    width: 100%;
    height: 100%;
  }
  #login_img {
    display: block;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
  }

  .errorMessage {
    position: fixed;
    bottom: 0;
    min-width: 250px;
    border: 2px solid #e00004;
    background-color: #f15152;
    color: #fff;
    font-weight: 600;
    transform: translate(50%, 100%);
    padding: 20px;
    border-radius: 16px;
    left: 50%;
  }

  .toggle_error {
    transform: translate(50%, -100%);
    transition: all 0.25s ease;
  }
}
