name: Pixsy Image CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: |
        docker build ./client --file Dockerfile --tag react-app:$(date +%s) 
        docker build ./server --file Dockerfile --tag pixsy-server:$(date +%s)
        docker-compose up
